body {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    overflow-x: hidden;
    background-color: cornsilk;
    color: burlywood;
}

footer,
header {
    background-color: darkgreen;
    color: linen;
    padding: 1%;
    border: 3px double brown;
    border-radius: 2px;
    text-align: center;
}

h2,
p,
h3 {
    padding: 1%;
    text-align: center;
    max-width: 70ch;
    margin: 0 auto;
}

#jobList article {
    border: 1px solid burlywood;
    list-style-type: none;
}

#aboutText {
    max-width: 70ch;
    margin: 0 auto;
    line-height: 1.3em;
}


#headMenu {
    list-style-type: none;
    width: 500px;

    li {
        display: inline-block;
        padding: 3%;

        a {
            color: linen;
            text-decoration: none;
            padding: 10px 10px;
        }
    }
}

#navMenu li a {
    display: none;
}

ul {
    list-style-type: none;
}

form.form {
    display: table;
}

#formContainer {
    display: flex;
    justify-content: center;
}

div.form {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}


label {
    padding-left: 10px;
    padding-right: 10px;
}

#submitBtn,
.deleteBtn {
    padding: 7px;
    margin: 10px;
    background-color: darkgreen;
    color: linen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.deleteBtn {
    margin-left: 45%;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navMenu,
.menuBtn {
    display: none;
}

.here {
    border: 3px double brown;
    border-radius: 2px;
}

main {
    background-color: darkred;
    width: 70%;
    margin: 0 auto;
    border: 5px solid burlywood;
    border-radius: 2px;
}

@media screen and (max-width: 1024px) {
    #headMenu {
        display: none;
    }

    #navMenu li a {
        display: inline;
    }

    .menuBtn {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        background-color: darkgreen;
        border: brown double;
        color: linen;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }

    .open {
        position: absolute;
        top: 5%;
        right: 5%;
    }

    .close {
        position: absolute;
        top: 50%;
        right: 27%;
    }

    .bars {
        display: block;
        width: 20px;
        height: 3px;
        background-color: linen;
        margin: 5px 3px;
    }

    .cross1 {
        width: 20px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }

    .cross2 {
        width: 20px;
        transform: rotate(135deg);
        position: relative;
        top: -3px;
    }


    #navMenu {
        background-color: darkgreen;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 200px;
        display: none;
    }

    ul {
        list-style-type: none;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        font-size: 1em;
        text-align: left;
    }

    li {
        padding: 0.8em;
        width: 100%;
    }

    a:link,
    a:visited {
        color: linen;
        text-decoration: none;
    }
}